@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/museosans/MuseoSans_0.otf') format("opentype");
}

@font-face {
    font-family: 'CustomFont';
    font-weight: bold;
    src: url('../fonts/museosans/MuseoSans_2.otf') format("opentype");
}

* {
    font-family: 'CustomFont';
}

body {
	font-size: 14px;
	background-color: #fff;
}
.step {
	background: #FFC400; /* el color de fondo */
	color: #FFF; /* el color del texto */
	padding: 20px 10px 10px 0px;
	width: 150px;
}
.step span {
	color: #008998;
	font-size: 18px;
}

.content-step {
	padding-top: 130px;
}
.description-step {
	padding-top: 15px;
}
.arrow-step span{
	font-size: 30px;
	padding-top: 20px;
}
.step:after {
  border: solid 10px transparent;
  border-top-color: #FFC400;  /* igual al color de fondo */
  border-bottom: 0;
  bottom: -20px;  /* igual al borde + el padding-bottom de la definición anterior */
  content: "";
  display: block;
  height: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 0;
}
#myCarousel .item {
	text-align: center;
}
.socials, .socials-mobile {
	background: #008998;
	color: #fff;
	height: 25px;
	text-align: left;
}

.facebook, .youtube , .home, .sitemap {
 	background: #008998;
    color: #fff;
    font-size: 17px;
    text-align: center;
    border-radius: 71%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 2.25em;
    padding: 3px 5px 0px 5px;
    float: right;
    padding-right: 40px;
}
.facebook {
    padding: 4px 5px 0px 5px;
}
.youtube {
    text-align: center;
    font-size: 20px;
}
.home {
    text-align: center;
    font-size: 20px;
}

.menu-header {
	margin-top: 10px;
}
.banner-img-home {
	margin-left: 17%;
	margin-top: 20px
}
.texto-mayuscula{
	color: #fff;
	font-size: 50px;
	margin-left: 20%;
	margin-top: 15px;	
}

.texto-minuscula {
	color: #008998;
	font-size: 29px;
	margin-left: 57%;
	margin-top: -10px;	
}
.boton-ver-mas {
	background: #008998;
	color: #fff;
	font-size: 20px;
	margin-left: 64%;
	margin-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
.boton-ver-mas:hover {
	background: #008998;
}

.text-more-banner-home {
	padding-top: 10%;
}

.estilos-img {
	display: block;
	width: 100%;
	height: 80%;
	background-position: left;
	background-image: url('http://lorempixel.com/1100/100/');
	background-repeat: no-repeat;
}

header {
	background: url('../img/bg.jpg') #fff;
	background-repeat: no-repeat;
	background-position: center;
	max-height: 100px;
}

header .navbar{
	background: #fff;
	color: #008998;
	text-align: right;
}

.navbar-nav {
	margin: 7.5px 0px;
}

header .menu {
    margin: 20px 0 30px 0;
    border-bottom: 30px 0;
    text-align: right;
    height: 40px;
}

header .menu .menu-header-mobile {
    margin: -15px 0 30px 0;
	text-align: left;
}

.menu-header-mobile {
	width: 100%;
}

header .menu a {
	margin: 0 5px;
	color: #008998;
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
}
.collapse.in {
    display: block;
    background: #fff;
}

header .menu a:hover {
	border-bottom:3px solid #008998;
}

header .menu .menu-header-mobile a:hover {
	border-bottom:none;
	height: auto;
}

.logo-header {
	font-size: 10px;
	color: #008998;
	text-align: left;
	margin-top: -30px;
}
header  a.link-logo-header:hover {
	border-bottom: 0px;
}
.menu-header-mobile li {
	border-bottom:1px solid #008998;
}

.menu-header-mobile li:last-child {
	border-bottom:0px solid #008998;
}

.nav > li > a:focus, .nav > li > a:hover {
	background-color: #fff;
}

.navbar-toggle {
	padding: 25px 10px;
}

.navbar-toggle .icon-bar {
	width: 30px;
	height: 4px;
}

footer {
	background-color: #008998;
}
.footer {
	background-color: #008998;
}
footer {
    width: 100%;
    background-color: #008998;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}
.wrap_content_footer {
    display: block;
    min-height: 190px;
    padding: 25px 0 10px 0;
}
.max_width {
    max-width: 940px;
    margin: auto;
}
footer .icons {
    border-bottom: 1px solid #00a5b7;
    padding-bottom: 13px;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
   margin-right: -15px;
    margin-left: -15px;
}
footer .icons .col-sm-2:last-child {
	border-right: none;
}
footer .icons .col-sm-2 {
	border-left: 1px solid #008998;
	border-right: 1px solid #00A5B7;
}
footer .icons .footer_icon_wrapper {
    height: 124px;
}
.footer_icon_wrapper {
    padding: 22px 0 0 0;
}
.footer_icon_wrapper a {
    color: #ffffff;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: transparent;
}
.footer_icon_wrapper img {
    display: block;
    margin: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.footer_icon_wrapper span {
    display: block;
    margin: auto;
    text-align: center;
    margin: 11px auto 0 auto;
    font-size: 12px;
}
footer i.home, footer i.facebook, footer i.youtube, {
    margin-left: 0px;
	padding: 0px;
}

footer .cr {
	background: #FFDB00;
	padding: 10px 0 0 0;
	border-top: 1px solid #656b74;
	color: #008998;
	margin-top: 20px;
}
footer .cr strong {
	margin-right: 50px;
}


/*PAGINA DE PREGUNTAS FRECUENTES*/

.img-banner {
	margin-top: 120px;
	background-color: #E9E9E9;
}
.img-index {
	background-color: #FFDB00;
}
.logo {
	font-size: 10px;
	color: #008998;
	text-align: left;
	margin-top: -30px;
	border-bottom: 30px 0;
}
h2.title-banner {
	font-size: 40px;
	color: #fff;
	position: absolute;
	margin-top: 10%;
	margin-left: 70%;
}
h2.title-banner-function {
	font-size: 50px;
	color: #fff;
	position: absolute;
	margin-top: 10%;
	margin-left: 65%;
}

.breadcrumb {
    padding: 15px 20px;
    margin-bottom: 20px;
    list-style: none;
    background: none;
    position: absolute;
    margin-left: 215px;
 
}

 .breadcrumb a {
	color: #fff;
	font-size: 15px;
}

.breadcrumb .active {
	color: #fff;
	font-size: 15px;
}

.locate {
	padding-bottom: 50px;
}

.subtitle-function {
	padding-bottom: 20px;
}
.img-function {  
  display: block;
  position: relative;
}
.img-function:after {
   content: "";
   position: absolute;
   z-index: 1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url('../images/phone.png');
    background-repeat: no-repeat;
    background-size: 250px;
    width:100
    height: 100%;
    background-position: center center; 
}
.faq h1, .locate h1, .title-section, .benefit h1, .elements h1, .function h1{
	color: #008998;
	text-align: center;
	font-size: 30px;
}

.carousel-inner {
    height: 300px;
}
.panel-group {
    margin-bottom: 50px;
}

.panel-group .panel {
    margin-bottom: 11px;
    border: 10px;
	box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.faq h3, .locate h3 {
    color: #000;
    font-size: 15px;
}
.faq p {
    color: #000;
    font-size: 15px;
}
.panel-body {
    padding: 15px;
    color: #000;
    font-size: 18px;
}
.left-transition {
	left: -250px;
	transition: left 1s;
}
.faq .panel-subtitulos{
	font-size: 20px;
	background-color: #FFDB00;
	color:  #008998;
}

.faq .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

a .caret {
float: right;
vertical-align: middle;
border-top: 12px dashed;
border-right: 10px solid transparent;
border-left: 10px solid transparent;
}

a .caret-open {
	border-top: 0;
	border-bottom: 12px dashed;
}


.section-main-block {
	padding: 73px 8px 50px 8px;
	width: 100%;
}
.section-main-block .row {
	margin-right: 0px;
	margin-left: 0px;
}
.center-about-section {
	margin-top: 60px;
	margin-bottom: 60px;
}
/*Contacto-Descargas*/

.download-app{
	background: #FFDB00;
}

.pb-0{
	padding-bottom: 0;
}
.pt-0{
	padding-top: 0;
}

.padding-0{
	padding: 0;
}

.gray .thumbnail {
	background-color: #E9E9E9;
	border: 0px;
}
.text-about {
	margin-top: 5em;
}

.text-about h4 {
	color: #008998;
	font-size: 30px;
}
.text-about p {
	font-size: 15px;
}

.text-contact .text-blak{
	color: #000;
	font-size: 14px;
}

.text-contact .text-color{
	color: #008998;
	font-size: 20px;
}

/*.download-img {
	margin-top: px;
}*/

/*AGENTES*/
.map-ubication {
    border-bottom: 1px solid #E1E1E1;
    padding: 20px 20px 20px 0px;
    line-height: 5px;
    list-style: none;
	display: block;
	height: 70px;
}
.map-ubication p {
	font-size: 12px;
}
.interlineado li:last-child {
    border-bottom: 0px;
}
.no-padding {
	padding: 0px;
}
.fa-2x{
    background: #008998;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border-radius: 52%;
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-left: -1.75em;
    padding: 3px 5px 0px 5px;
    line-height: 29px;
 }

.fa-title {
    background: #fff;
    color: #F6BA00;
	
}
.position-locate span {
	color: #008998;
}
/*NOSOTROS*/
.subtitle-about {
    margin-top: 32px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 16px;
 }

 .gray {
 	background-color: #E9E9E9;
 }
.img-beneficio {
	width: 80%;
}
.list-item {
 	background-color: #008998;
 	color: #fff;
 	padding-left: 0px;
 	padding-bottom: 10px;
}
.div-item-function {
 	padding-top: 30px;
}
.list-item .active {
 	background-color: #00A5B7;
}
.list-item li {
 	padding-bottom: 5px;
 	padding-top: 10px;
 	list-style:none;
 	padding-left: 20px;
}
.list-item a {
 	color: #fff;
}
.list-item li strong {
	font-size: 20px;
}
.function #heading2 {
 	background-color: #008998;
 	color: #fff;
}
.function #heading2 {
 	background-color: #008998;
 	color: #fff;
}
.function #heading2 a{
 	background-color: #008998;
 	color: #fff;
}
.colum-benefit div {
	padding-top: 30px;
	padding-bottom: 0px;
}
.colum-benefit div.row, .pre-img {;
  display: flex;
}

.colum-benefit p, .colum-benefit h4 {
	font-size: 15px;
}
.colum-benefit img {
	height: 40px;
	margin-right: 15px;
	justify-content: space-between;
}
.pre-img img{
	height: 40px;
	margin-right: 15px;
	margin-top: 10px;
	justify-content: space-between;
}
.beneficio-img {
	text-align: center;
}
.img-banner img {
	width: 100%;
}
.footer-home, .footer-youtube, .footer-facebook {
	font-size: 30px;
	color: #fff;
	margin: 7px

}

.menu-header ul {
	float: right;
}

.footer_icon_wrapper a:hover {
	color:#fff;
}

.img-padding {
	padding-top: 30px;
}
#map {
	padding-right: -15px;
	padding-left: -15px;
	height: 50em;
	width: 100%

}

.div-position-locate #map {
	height: 20em;
}

.btn-about {
	background-color: #008998;
	border-color: #008998;
	color: #fff;
}
.btn-about:hover {
	background-color: #008998;
	border-color: #008998;
	color: #fff;
}
.btn-search-map {
	background-color: #fff;
	border-color: #fff;
	color: #008998;
	margin-top: 10px;
}
.btn-search-map:hover {
	background-color: #fff;
	border-color: #fff;
	color: #008998;
}

.location-map {
	position: absolute;
	z-index: 9;
	/*-webkit-transition: left .4s;*/
	/*-o-transition: left .4s;*/
	transition: all 1s ease;
	padding: 20px 20px;
	background: #0092A0;
	height: 100%;
	color: #fff;
    opacity: 1;
    left: 0;
}
.location-map--no-visible {
    opacity: 0;
    left: -100px;
    /*-webkit-transition: left .4s;*/
	/*-o-transition: left .4s;*/
	/*transition: left .4s;*/
}
.toggle-visibility {
    z-index: 999999999;
    margin-left: 20px;
    position: absolute;
    text-decoration: none;
    padding: 10px;
    font-size: 12px;
    color: #ffffff;
    background-color: #0092A0;
    border-radius: 6px;
    border: 2px solid #2a78b0;
}
.toggle-visibility--activated {
    position: absolute;
    transition: left 3s;
    left: 0;
    margin-left: 20px;
}
.toggle-visibility:hover {
    color: #1883ba;
    background-color: #ffffff;
}
.section-map {
	background-color: #fff;
}
.section-map p {
	color: #0092A0;
	padding-left: 15px;
	padding-top: 5px;
}
.text-contact {
	padding-top: 30px;
}
.location-section {
	position: relative;
}
.carousel-indicators .active {
    background: #31708f;
}

.content {
    margin-top: 20px;
}

.adjust-item {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border: 0px;
}
.adjust-item-gray {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border: 10px solid #E9E9E9;
    background-color: #E9E9E9;
}

.carousel-indicators li {
    border: 1px solid #ccc;
}

.carousel-control {
    color: #31708f;
    width: 5%;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #31708f;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
    z-index: 12;
}

.media-object {
    margin: auto;
    margin-top: 15%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	margin-right: 25px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
	margin-left: 25px;
}
.gray .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	margin-right: -50px;
	margin-top: -60px;
}
.gray .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
	margin-left: -50px;
	margin-top: -60px;
}
.function .carousel-control .glyphicon-chevron-right,
.function .carousel-control .text-arrow-carousel-right,
.carousel-control .icon-next {
	margin-right: 0px;
	padding-top: 100px;
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.function .carousel-control .glyphicon-chevron-left,
.function .carousel-control .text-arrow-carousel-left,
.carousel-control .icon-next {
	margin-left: -50px;
	padding-top: 100px;
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.function .carousel-control .text-arrow-carousel-right {
	top: 45%;
	margin-left: -115px;
}
.function .carousel-control .text-arrow-carousel-left {
	top: 45%;
	margin-left: -20px;
}
.soport h1 {
	color: #F6BA00;
	text-align: center;
	font-size: 30px;
}
.soport p {
	margin-top: 30px;
	color: #000;
}

.soport .thumbnail > img {
    height: 80px;
}
.elements img{
	height: 80px;
}
.elements .row {
	margin-top: 40px;
	margin-bottom: 40px;
}
.elements  .elements-content p{
	margin-top: 20px;
	color: #008998;
	font-size: 16px;
}
.elements div > p.subtexto{
	margin-bottom: 60px;
	color: #000;
}
.appstore {
	height: 70px;
	padding-top: 30px;
}
.google-play {
	height: 70px;
	padding-top: 30px;
}
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }

#myCarousel .item {
    text-align: left;
}

.section-map .fa {
    background: #fff;
    margin-left: 0;
    padding: 0px 0px 0px 0px;
}
.section-map .agents, .section-map .agents .fa{
    color: #FF0000;
    margin-left: 5px;
}
.section-map .deposits, .section-map .deposits .fa {
    color: #FFC500;
    margin-left: 5px;
}
.section-map .retreats, .section-map .retreats .fa {
    color: #008998;
    margin-left: 5px;
}
.section-map label {
    font-size: 18px;
    color: #0092A0;
}
.select-map {
	background-color: #fff;
	margin-top: 15px;
}
.select-map select{   
	background: transparent;
	border: none;
	width: 100%;
	height: 30px;
	color: #0092A0;
	background: #fff url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png') no-repeat;
    background-size: 20px;
    background-position:  right 10px center;
    -webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 10px;	
}
.select-map select option{   
	padding-left: 10px;	
}
.list-location {
	margin-top: 15px;
	background-color: #fff;
	height: 250px;
}
.list-location li{
	padding-top: 5px;
	font-size: 14px;
	cursor: pointer;
}
.list-location ul{
	padding-left: 10px;
	margin-left: 10px;
}
.hidden {
	display: none;
}
.thumbnail{
	border: none;
}
.collapsing {
	background-color: #fff;
}
@media only screen and (max-width : 980px) {
	.appstore {
		margin-top: 20px;
	}
	.google-play {
		margin-top: 20px;
	}
	.panel-group .panel {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.text-contact .text-blak, .text-contact .text-color{
		text-align: center;
	}
	.text-contact {
		padding-top: 0px;
	}
	.elements .row {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elements  .elements-content p {
		margin-top: 20px;
		margin-bottom: 40px;
	}

	h2.title-banner {
		display: none;
	}
	.breadcrumb {
	    margin-left: 0px; 
	    margin-top: -60px;
	}

	.gray .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -20px;
	}
	.gray .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
		margin-left: -20px;
	}

	.step {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	
	#myCarousel .item {
		text-align: center;
	}

	.function .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
		margin-left: -50px;
		padding-top: 100px;
	}
	.function .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -50px;
		padding-top: 100px;
	}
	.content-step {
	    padding-top: 40px;
	}
	.img-function::after {
    	background-size: 60%;
	}
	.img-function img {
    	width: 60%;
	}
	.function .carousel-control .text-arrow-carousel-right {
		display: none;
	}
	.function .carousel-control .text-arrow-carousel-left {
		display: none;
	}
	.function .carousel-control .glyphicon-chevron-right {
		margin-top: -350px;
	}
	.function .carousel-control .glyphicon-chevron-left {
		margin-top: -350px;
	}
	.step {
	    padding: 10px 5px 5px 0px;
	    width: 120px;
	}
	.step::after {
	    bottom: -15px;
	}
	header .navbar {
	    height: 100px;
	}
	.logo-header {
	    margin-top: -20px;
	    width: 150px;
	}
	.navbar-toggle {
	    padding: 20px 10px;
	}
	.img-banner {
	    margin-top: 105px;
	    background-color: #E9E9E9;
	}
	.carousel-inner {
		height: 200px;
	}
}

@media screen and (max-width: 768px) {
    .media-object {
        margin-top: 0;
    }	

    .phone, .appstore, .google-play {
		padding-top: 20px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.panel-group .panel {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.text-contact .text-blak, .text-contact .text-color{
		text-align: center;
	}
	.text-contact {
		padding-top: 0px;
	}
	.elements .row {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elements  .elements-content p{
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.function .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
		margin-left: -50px;
		padding-top: 100px;
	}
	.function .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -50px;
		padding-top: 100px;
	}
	.content-step {
	    padding-top: 40px;
	}
}
@media only screen and (max-width : 480px) {
	.socials_footer {
		padding-top: 20px;
	}
	.phone, .appstore, .google-play {
		padding-top: 20px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	.panel-group .panel {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.navbar-nav {
	    margin: 7.5px -15px;
	}

	.text-contact .text-blak, .text-contact .text-color{
		text-align: center;
	}
		.text-contact {
		padding-top: 0px;
	}
	.elements .row {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elements  .elements-content p{
		margin-top: 20px;
		margin-bottom: 40px;
	}

	h2.title-banner {
		display: none;
	}
	.breadcrumb {
	    margin-left: 0px; 
	    margin-top: -60px;
	}
	.function .carousel-control .glyphicon-chevron-left, .carousel-control .icon-next {
		margin-left: -30px;
		padding-top: 100px;
	}
	.function .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
		margin-right: -30px;
		padding-top: 100px;
	}
	.content-step {
	    padding-top: 40px;
	}
}

